.EditNotPage {
  .Editor_container {
    height: calc(100vh - 78px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .EditorFormPage {
  
  /*  font-family: $actualfontFamily;
    border: 1px solid #b4b4b4;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;

    max-width: unset;
    border-radius: 0.25rem;
*/
    .emptyField {
      label {
        color: #a00 !important;
      }

      .se-wrapper-wysiwyg {
        border: px solid #a00 !important;
        background: #f4c6c6;
        height: auto !important;
      }
    }

    .mandatory-field {
      color: #a00 !important;
      font-size: 10px;
      font-weight: bold;
    }

    .label {
      color: $notPrimaryColor;
      font-size: 0.9em;
      font-weight: bold;
      max-width: 200px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .form-group {
      margin-bottom: 0;
    }

    .react-datepicker__input-container {
      input {
        width: 100%;
      }
    }

    .react-datepicker-popper {
      z-index: 10000;

      .react-datepicker__header {
        background-color: #eee;
      }

      .react-datepicker__month-container {
        -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0.35rem;
      }
    }

    .react-datepicker-wrapper {
      display: block;
      padding: 0;
      border: 0;
    }

    label {
      color: $notPrimaryColor;
      font-size: 0.9em;
      font-weight: bold;
      display: inline;
    }

    input,
    select {
      border: 1px solid $borderSectionColor;
      border-radius: 0.35rem;
     
      font-size: 14px;
      font-weight: normal;
      box-shadow: none !important;
      background-color: #fff !important;
      padding: 4px 6px;
     

      &:focus {
        border: 1px solid $borderSectionColor;
      }

     
    }

    .form-control {

      background-image: unset;
    }

    .toggle-container {
      height: 25px;

      label {
        margin-left: 5px;
        position: relative;
        top: -6px;
      }

      button {
        padding: 2px;
      
        float: right;
        box-shadow: unset !important;
        padding-right: 10px;
        padding-left: 5px;
        color: $notPrimaryColor;
        font-weight: bold;
        font-size: 0.9em;
        border: 0 solid;
      
        text-transform: initial;
        position: sticky;

        &:hover {
          background: #fff !important;
        }

        font-size: 0.9em;

        svg {
          margin-right: 2px;
          position: relative;
          top: 3px;
        }
      }

      .react-toggle--checked .react-toggle-track {
        border: 1px solid $borderSectionColor;
        background-color: $activeColor;
      }

      .react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
        border: 1px solid $borderSectionColor;
        background-color: $notPrimaryColor;
      }

      .react-toggle--checked,
      .react-toggle--focus .react-toggle-thumb {
        box-shadow: none !important;
      }

      .react-toggle-track {
        border: 1px solid $borderSectionColor;
        background-color: $inactiveColor;
        border-radius: 0.3rem;
      }

      .react-toggle-thumb {
        border: 0 solid $borderSectionColor;
        background-color: #eee;
        border-radius: 0.2rem;
      }

      .react-toggle--checked .react-toggle-thumb {
        left: 27px;
        border-color: unset;
      }

      .react-toggle--focus .react-toggle-thumb {
        -webkit-box-shadow: unset;
        -moz-box-shadow: unset;
        box-shadow: unset;
      }

      .react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
        -webkit-box-shadow: unset;
        -moz-box-shadow: unset;
        box-shadow: unset;
      }
    }

    .form-control {
      height: 33px;
    }

    .select-container {
      div[class$='control'] {
        border: 1px solid $borderSectionColor;
        background: #fff;
        font-size: 0.9em;
        font-weight: bold;
        color: $notPrimaryColor;
        box-shadow: unset;
        min-height: unset;
      }

      span[class$='indicatorSeparator'] {
        width: 0;
        
      }

      div[class$='-ValueContainer'] {
        padding: 0;
        background: #fff;
        font-weight: 400;
           
      }

      div[class$='-IndicatorsContainer'] {

        border-left: 1px solid #dddddd;

        svg[class$='-Svg'] {
          color: #ddd;
          stroke: #ddd;
          line-height: 2;
          background: transparent;
          border-radius: 0.3rem;
          height: 25px;
          width: 25px;
        }
      }

      div[class$='-placeholder'] {
        opacity: 0.5;
        margin-left: 8px;
      }

      div[class$='-Input'] {
        margin-left: 8px;

        input {
          display: block;
        }
      }

      div[class$='-multiValue'] {
        border: 1px solid $notPrimaryColor;
        background: #fff;
        padding: 2px;
        border-radius: 0.3rem;
        display: none;

        div {
          &:first-child {
            font-size: 1em;
          }

          &:last-child {
            background: transparent;
            border-radius: 0.3rem;
            margin-left: 10px;
          }
        }
      }

      div[class$='-singleValue'] {
        font-size: 1em;
        padding-left: 4px;
      }

      svg[class$='-Svg'] {
        color: $notPrimaryColor;
        stroke: $notPrimaryColor;
        line-height: 2;
      }

      div[class$='-menu'] {
        border: 1px solid $borderSectionColor;
        background: #fff;
        font-size: 14px;
     
        padding: 0;
        box-shadow: unset;
      }

      .isRelative div[class$='-menu'] {
        position: relative;
      }

      div[class$='-indicatorContainer'] {
        padding: 3px;
        margin-bottom: auto;
      }

      div[class$='LoadingMessage'] {
        font-size: 12px;
      
        color: $notPrimaryColor;
        padding: 4px;
      }

      div[class$='NoOptionsMessage'] {
        font-size: 12px;
     font-weight: bold;
        color: $inactiveColor;
        padding: 4px;
        background: #f4c6c6;
      }

      div[class$='MenuList'] {
        font-size: 14px;
    
        color: $notPrimaryColor;
        padding: 0;
      }

      div[class$='option'] {
        padding: 4px;
      }

    
    }

    hr {
      border-top: wpx solid #eee;
    }

    .listGroup {
      border: 1px solid #ddd;
      border-radius: 0.25rem;
      background: #fff;
      padding: 1px;
     
      padding-top: 0 !important;

      .list-group-item {
        border: 0 solid $notPrimaryColor;
        border-bottom: 1px solid $borderSectionColor;

        background: #fff;
        font-size: 14px;
       

        margin: 0 !important;

        &:last-child {
          border-bottom: 0 solid;

        }

        &:first-child {
         margin-right: 0px !important;
        
         
        }

        div {
          &:first-child {
            float: left;
            width: calc(100% - 0px);
         padding: 2px;
         

          }
         
        }

     
      }
    }

    .list-group-item :first-child {
       margin-right: 0rem; 
  }

    .dropzone {
      height: auto;
      min-height: 33px;

      .label {
        width: calc(100% - 150px);
        line-height: 27px;
        margin-left: 5px;
      }

      .btnaddfiles {
        padding: 2px;
        background: #fff !important;
        float: right;
        box-shadow: unset !important;
        padding-right: 10px;
        padding-left: 5px;
        color: $notPrimaryColor;
        font-weight: bold;
        font-size: 0.9em;
        cursor: pointer;
        border-radius: 0.35rem;
      }

      .loadingMsg {
        border: 1px solid $borderSectionColor;
        background: #fff;
        font-size: 0.9em;
        font-weight: bold;
        padding: 1px;
        box-shadow: unset;
        text-align: center;
        background: #eee;
        border-radius: 0.35rem;
      }

      .list-group {
        width: 100%;
        margin: 0;
        padding: 0;

        .list-group-item {
          padding: 4px;
        }
      }
    }

    .mandatory_class {
      border: 1px solid #800;
      background: #f4c6c6;
    }
  }

  @media (max-width: 767px) {
    .formFieldsPageContainer {
      padding: 0.25rem !important;
    }

    .formPageContainer {
      padding: 0 0.25rem 0.25rem !important;
    }
  }

  .formFieldsPageContainer,
  .formPageContainer {
    // margin-top: 40px;
    //margin-bottom: 28px !important;
  }

  .carrousel {
    .BrainhubCarouselItem {
      img {
        padding: 0;

        width: calc(100% - 10px) !important;
        border: 1px solid $notPrimaryColor;
        border-radius: 0.25rem;
        max-height: 225px;
      }
    }

    .BrainhubCarousel__thumbnail {
      background: #fff;

      img {
        border: 1px solid $notPrimaryColor;
        border-radius: 0.25rem;
      }
    }
  }

  .ImgBankSearching {
    font-size: 0.7em;
    font-weight: bold;
    font-size: 0.7em;
    font-weight: bold;

    margin-top: auto !important;
    margin-bottom: auto !important;
    display: grid;
  }

  .sun-editor {
    border: 0 solid;
    position: sticky;
    z-index: 1;

    .se-toolbar {
      outline: 0 solid;
      background: #fff;

      .se-btn-module {
        border: 0px solid $borderSectionColor;

        .se-btn {
          color: $notPrimaryColor;
          background: #fff;

          &:hover {
            background: #eee;
          }
        }

        .se-btn-select {
          color: $notPrimaryColor;

          background: #fafafa !important;
          border: 1px solid #b4b4b4;
          font-size: 0.8em;
          font-weight: bold;
          width: auto;
          margin-right: 5px;

          svg {
            margin-right: 2px;
            font-weight: bold;
            margin-left: 5px;
            font-weight: bold;
            stroke: aaa;
            fill: #b4b4b4;
            fill-rule: evenodd;
          }

          &:hover {
            background: #eee;
          }
        }
      }
    }

    .se-list-layer {
      border: 1px solid $borderSectionColor;
      margin-top: 2px;
      border-radius: 0.2rem;

      -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
      z-index: 100000;
    }

    .se-wrapper-wysiwyg {
      background-color: #fafafa;
      display: block;
      border: 1px solid #aaa;
      /* margin-left: 2px; */
      /* margin-right: 2px; */
      width: calc(100% - 4px);
      border-radius: 0.2rem;
      margin-top: 0;
      /* margin-bottom: 2px; */
      /* height: auto !important; */
    }

    .se-resizing-bar {
      display: none;
    }

    .EditNotPage .EditorFormPage .select-container div[class$='-Input'] input {
      /* display: none; */
    }
  }
}

.EditNotPage .EditorFormPage .select-container div[class$='-control'] {
  background: #fafafa;
  width: 100%;
}

.EditorHeader {
  border-bottom: 1px solid $notPrimaryColor;
  border-right: 2px solid #aaa;
  border-left: 1px solid #aaa;
  background-color: #eee;
  position: absolute;
  z-index: 10;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 21, 41, 0.1);
  min-height: 36px;
  color: #fff !important;

  button {
    background: #fff;
    color: #091220;
    font-weight: bold;
    font-size: 0.9em;
    border-radius: 0.15rem;
    border: 1px solid #091220;
    margin-top: auto;
    margin-top: 3px;
    /* padding: 2px; */
    margin-right: 2px;
    height: 30px;

    &:active {
      border: 1px solid $notPrimaryColor;
    }
  }
}

.SavingCard {
  height: calc(100vh - 560px);

  .modal-content {
    border: 1px solid $notPrimaryColor;
    border-radius: 0.35rem;
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin-top: calc(100vh - 525px);
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);

    .StartComponent {
      border-radius: 0.35rem;
      background: #fff;
      color: $notPrimaryColor;
      font-weight: bold;
    }

    .OkComponent {
      border-radius: 0.35rem;
      background: #abdec5;
      color: #3a7570;
      font-weight: bold;
    }

    .FailComponent {
      border-radius: 0.35rem;
      background: #ffd8d8;
      color: #800;
      font-weight: bold;
    }
  }
}

@media (max-width: 767px) {
  .SunEditorFields {
    margin-top: 0px !important;
    height: 100%;
  }
}

@media (min-width: 768px) {
  .SunEditorFields {
    // margin-top: 40px !important;
  }
}

.ToastDelete {
  opacity: 1;
  position: absolute;
  top: calc(50% - 50px);
  border: 1px solid #800;
  left: 2%;
  right: 2%;
  font-weight: bold;
  color: $notPrimaryColor;
  font-size: 0.8em;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  width: calc(100% - 25px);
  z-index: 100000;

  .toast-header {
    background: #800;
    color: #fff;
    color: #fff;
    display: inline-block;
    width: 100%;
    line-height: 33px;

    button {
      display: block;
      color: #fff !important;
      opacity: 1;
      background: transparent !important;
      border: 0px solid !important;
      padding: 4px !important;
      margin: 0px !important;
      font-size: 1.5em;
      font-weight: bold !important;
      width: 40px;
      border-radius: 0.2rem;
    }
  }

  .toast-body {
    background: #f4c6c6;
    color: #800;
    padding: 5px 10px;
    display: inline-table;
    width: 100%;

    button {
      background: #800 !important;
      color: #fff !important;
      float: right;
      border: 0px solid !important;
      font-size: 1em;
      font-weight: bold !important;
      padding: 4px !important;
      width: 40px;
      border-radius: 0.2rem;
    }
  }
}


.EditorFormPage { 

  .jodit_container
  {
    border-radius: 0.35rem;

    .jodit_workplace
    {
      border-bottom-left-radius: 0.35rem;
      border-bottom-right-radius: 0.35rem;
      
    }

    .jodit_toolbar
    {
      border-top-left-radius: 0.35rem;
      border-top-right-radius: 0.35rem;
      
    }
  }

  .isEmpty
  {


    label
    {
      color: #800 !important;

      &::after
      {
        content: '*';
        margin-left: 2px;
        font-size: 0.8em;
        font-weight: bold;
        position: relative;
        top: -4px;
      }
    }

    .jodit_container
    {


      .jodit_toolbar
      {
        border:  1px solid #800 !important;
        
      }


      .jodit_workplace
    {

      border-left: 1px solid #800 !important;
      border-right:  1px solid #800 !important;
      border-bottom:  1px solid #800 !important;

      background-color: #f4c6c6;
     
    }



    }
  }
}


#ref_contenido
{
  .jodit_workplace
  {
    min-height: calc(100vh - 565px) !important;
  }
}