.LoadingCard {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  position: sticky;
  height: 10px;

  .card {
    font-family: $actualfontFamily;
    border: 1px solid $notPrimaryColor;
    border-radius: 0.25rem;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 300px;
  }

  .card-text {
    font-size: 1.6em;
    font-weight: bold;
  }
}

.NotContentPanel {
  max-width: calc(100% - 4px);
  margin-top: 38px;

  .row {
    margin: 0px -18px !important;
  }
}

.totaElemContainer {
  border: 0 solid #fff;
  border-left: 0 solid;
  border-right: 0 solid;
  border-top: 0 solid;
  background-color: $notPrimaryColor;
  position: absolute;
  z-index: 10;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3), 0 2px 0 rgba(0, 21, 41, 0.1);
  min-height: 38px;
  color: #fff !important;
  display: none;

  Label {
    font-family: $actualfontFamily;
    font-size: 0.9em;
    color: #fff !important;
    color: $notPrimaryColor;
  }

  select {
    width: 90px;
    max-width: 90px;
    border: 1px solid $notPrimaryColor;
    background: #fff;
    font-weight: bold;
    font-size: 0.8em;

    option {
      padding-left: 5px;
    }
  }
}

.indiana-scroll-container {
  max-height: calc(100vh - 75px) !important;
}

.NotContent {
  font-family: $actualfontFamily;

  border: 1px solid $notPrimaryColor;
  border-radius: 0.25rem;

  display: flex;
  flex-flow: column;
  height: 100%;

  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2) !important;

  button {
    background: $notTerciaryColor !important;
    color: #fff !important;
    border: 0px solid #000 !important;
    border-radius: 0.25rem;
    margin: 0px !important;
    width: auto;
    height: auto;
    box-shadow: none !important;
    padding: 0;
    height: 30px;

    width: 30px;

    &:hover {
      border: 1px solid #162c50 !important;

      color: $notPrimaryColor !important;
      background: #eee !important;
    }

    &:active {
      border: 1px solid #eee !important;
      background-color: #fff !important;
    }
  }

  .NotContentHeader {
    background: $notTerciaryColor;
  }

  .card-header {
    text-align: right;
  }

  .card-body {
    padding: 12px;

    overflow: hidden;
    margin-bottom: 15px !important;
  }

  .mh_not {
    max-height: 300px;
    overflow: h;
  }

  .card-text {
    table {
      width: 100% !important;
    }

    td {
      width: 100% !important;
    }
  }

  .card-title {
    color: $notPrimaryColor;
    font-weight: bold;
    font-size: 1.2em;
  }

  .card-subtitle {
    font-size: 0.9em;

    label {
      &:first-child {
        font-weight: bold;
        color: $notPrimaryColor;
      }

      &:last-child {
        font-style: italic;
        color: $notSecondaryColor;
      }
    }
  }

  .card-text {
    div {
      color: $notSecondaryColor;
      font-weight: normal;
      font-style: italic;
      font-size: 1em;
      text-overflow: ellipsis;
    }

    .contHtml {
      max-height: 250px;
      overflow: hidden;
      margin-bottom: 25px !important;
    }
  }

  .card-header {
    background-color: $notTerciaryColor;
    border: 0px solid $borderSectionColor;
    margin: 0px;
    padding: 3px;
    border-top-left-radius: 0.15rem;
    border-top-right-radius: 0.15rem;
  }

  hr {
    border-color: $notPrimaryColor;
  }

  .ToastDelete {
    opacity: 1;
    position: absolute;
    top: calc(50% - 50px);
    border: 1px solid #800;
    border-radius: 0.25rem;
    left: 2%;
    right: 2%;
    font-weight: bold;
    color: $notPrimaryColor;
    font-size: 0.8em;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    width: calc(100% - 25px);

    .toast-header {
      background: #800;
      color: #fff;
      color: #fff;
      display: inline-block;
      width: 100%;
      line-height: 33px;
      border-top-left-radius: 0.35rem;
      border-top-right-radius: 0.35rem;

      button {
        display: block;
        color: #fff !important;
        opacity: 1;
        background: transparent !important;
        border: 0px solid !important;
        padding: 4px !important;
        margin: 0px !important;
        font-size: 1.5em;
        width: 40px;
        border-radius: 0.2rem;
      }
    }

    .toast-body {
      background: #f4c6c6;
      color: #800;
      padding: 5px 10px;
      display: inline-table;
      width: 100%;

      button {
        background: #800 !important;
        color: #fff !important;
        float: right;
        border: 0px solid !important;
        font-size: 0.9em;
        font-weight: bold;
        padding: 2px !important;
      }
    }
  }

  .ToastClone {
    opacity: 1;
    position: absolute;
    top: calc(50% - 50px);
    border: 1px solid #0f6086;
    left: 2%;
    right: 2%;
    font-weight: bold;
    color: $notPrimaryColor;
    font-size: 0.8em;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    width: calc(100% - 25px);

    .toast-header {
      background: #0f6086;
      color: #fff;
      color: #fff;
      display: inline-block;
      width: 100%;
      line-height: 33px;

      button {
        display: block;
        color: #fff !important;
        opacity: 1;
        background: transparent !important;
        border: 0px solid !important;
        padding: 0px !important;
        margin: 0px !important;
        font-size: 1.5em;
      }
    }

    .toast-body {
      background: #b0e0f7;
      color: #0f6086;
      padding: 5px 10px;
      display: inline-table;
      width: 100%;

      button {
        background: #0f6086 !important;
        color: #fff !important;
        float: right;
        border: 0px solid !important;
        font-size: 0.9em;
        font-weight: bold;
        padding: 2px !important;
      }
    }
  }
}

.NotFooter {
  border-top: 1px solid $notPrimaryColor !important;
  background-color: $notPrimaryColor;
  flex-direction: column;
  display: FLEX;
  position: absolute;
  z-index: 10;
  box-shadow: 0 -1px 1px 1px rgba(0, 0, 0, 0.3), 0 -1px 1px 1px rgba(0, 21, 41, 0.1);
  min-height: 38px;

  .pagination {
    margin-left: auto;
    margin-right: auto;
    height: 16px;
    margin-top: 5px;

    li>a {
      background: $notPrimaryColor;
      color: #fff;
      border-radius: 0.35rem;
      width: 28px;
      display: block;
      height: 28px;
      box-shadow: unset !important;
      text-align: center;
      font-size: 0.8rem;
      font-weight: normal;
      line-height: 28px;
      border: 1px solid $notPrimaryColor !important;
    }

    .active a {
      background: $notPrimaryColor !important;
      color: #fff !important;
      font-size: 1.3rem;
      font-weight: bold;
      border: 0 solid $notPrimaryColor !important;
      text-decoration: none;
    }
  }
}

.NotContentFull {
  box-shadow: unset;
  height: calc(100vh - 62px);
  border: 0 solid $borderSectionColor;

  .card-body {
    table {
      width: 100% !important;
      max-height: unset !important;
    }
  }

  .card-title {
    font-size: 1.7em;
    margin-bottom: 25px !important;
    font-weight: bold;
  }
}

.NotFullModal {
  max-width: 950px;
  width: calc(100% - 10px);
  margin: 5px auto;
  height: calc(100vh - 15px);

  .modal-header {
    border: 1px solid $notTerciaryColor;
    background: $notTerciaryColor;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    -webkit-box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.4);

    height: 50px;

    .modal-title {
      width: 100%;
    }

    button {
      background: $notTerciaryColor !important;
      box-shadow: none;
      border: 0 solid $borderSectionColor;
    }
  }

  .modal-content {
    height: calc(100vh - 15px);

    -webkit-box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.4);
    margin: 2px;
    padding: 2px;

    .indiana-scroll-container {
      max-height: calc(100vh - 80px) !important;
      min-height: calc(100vh - 80px) !important;
      border: 0 solid;

      scrollbar-width: thin;
    }
  }
}

.EditNotPage {
  .indiana-scroll-container {
    max-height: calc(100vh - 62px) !important;
    min-height: calc(100vh - 62px) !important;
    border: 0 solid;

    scrollbar-width: thin;
  }
}

#AddNewButton {
  position: absolute;
  z-index: 20;

  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2) !important;
  background: $notPrimaryColor;
  border: 1px solid $notPrimaryColor;
  margin-top: calc(100vh - 130px);
  margin-left: calc(100vw - 58px);

  span {
    color: #fff;
    text-transform: none;
    font-size: 1.1em;
    font-weight: bold;
  }

  &:hover,
  &:focus,
  &:scope,
  &:active {
    border: 0px solid;
  }
}


#SearchOptionButton {
  position: absolute;
  z-index: 20;

  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2) !important;
  background: $notPrimaryColor;
  border: 1px solid $notPrimaryColor;
  margin-top: calc(100vh - 130px);
  margin-left: 10px;

  svg {
    margin-top: 10px;
  }

  span {
    color: #fff;
    text-transform: none;
    font-size: 1.5em;
    font-weight: bold;
  }

  &:hover,
  &:focus,
  &:scope,
  &:active {
    border: 0px solid;
  }
}

#ClearButton {
  position: absolute;
  z-index: 3000;

  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2) !important;
  background: #162c50;
  border: 1px solid $notPrimaryColor;
  margin-top: 8px;
  margin-left: calc(100vw - 58px);

  span {
    color: #fff;
    text-transform: none;
    font-size: 1.1em;
    font-weight: bold;
  }

  &:hover,
  &:focus,
  &:scope,
  &:active {
    border: 0px solid;
  }
}

.react-numeric-input {
  margin-right: 2px;
  padding: 2px;

  input {
    margin-left: 2px;
    font-size: 1em;
    font-weight: bold;
    padding: 0px;
    border: 1px solid $notSecondaryColor !important;
    padding: 2px;
    background: #fff;
    min-height: 30px;
    border-radius: 0.25rem !important;
  }

  b {
    background: $notSecondaryColor !important;
    box-shadow: none !important;
    margin-right: 1px;

    i {
      border-color: #fff transparent #fff !important;
    }
  }

  &::selection {
    border: 0px solid !important;
  }
}

#searchContainer {
  margin-bottom: 30px;
}

@media (max-width: 400px) {
  #appTitular {
    display: none;
  }


}