.app-header .top-nav {
    padding: 0 0px;
    width: 100%;
    box-shadow: none;
   
}

.app-footer
{
    display:none;
}

#primary-content
{
    padding: 0px !important; 
}


.app-sidebar
{

    font-family: $actualfontFamily;
    background-color: $notTerciaryColor;
    
   

}


.site-logo-bar {
    border-bottom: 1px solid $notPrimaryColor;
    background-color: $notTerciaryColor;
    height: 50px;
   
}


#main-menu .has-submenu {
  
    border-bottom: 1px solid $notPrimaryColor;
   
   
}

#main-menu .nav-submenu {
  
    border-top: 1px solid $notPrimaryColor;
   
   
}

#main-menu .nav-item > a.active {
    box-shadow: inset 4px 0px $notFourtyColor;
}

#main-menu .nav-item.has-submenu ul .nav-item {
    background: $notTerciaryColor;
    color: #fff;
    border: 1px solid $notPrimaryColor;
    border-top: 0px solid;
   
}

#main-menu .nav-item > a {
    
    color: #fff;
    font-size: 1.1em;
}

#main-menu .nav-item.has-submenu ul .nav-item a.active {
    background: $notPrimaryColor;
    color:  #fff
}

.myNavbar {
    font-family: $actualfontFamily;
    color: #fff;
    background-color: $notTerciaryColor;
    
    padding: 0;
    height: 50px;
    border-bottom: 0px solid;
    border-bottom: 1px solid $notPrimaryColor;
    button {

        background: $notFourtyColor !important;
        color: $notPrimaryColor !important;
        border-radius: 0.35rem;
        width: auto;
        height: auto;
        box-shadow: unset !important;

        &:hover {

            background-color: $notFourtyColor !important;
            color: $notTerciaryColor !important;
            background: $notFourtyColor !important;

            
        }
        &:active {

            background-color: $notFourtyColor !important;

            
        }
    }



    .page-heading
    {
        font-size: 1.5em;
        font-weight: bold;
    }
    
}
