.LoadingCard {
 
    position: absolute;
    top: 50%;
    bottom: 0;
    left: calc(50% - 50px);
    right: 0;
    width: 250px;

    .card
    {
    font-family: "Trebuchet MS",sans-serif,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    border: 1px solid $notPrimaryColor;
    border-radius: 0.25rem;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
    max-width: 300px;
    }

    .card-text {

        font-size: 1.6em;
        font-weight: bold;
    }


}

.NotContentPanel {
    max-width: calc(100% - 4px);

}

.NotContent {

    font-family: "Trebuchet MS",sans-serif,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;

    border: 1px solid $notPrimaryColor;
    border-radius: 0.25rem;

    display: flex;
    flex-flow: column;
    height: 100%;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);

    button {

        background: $notTerciaryColor !important;
        color: #fff !important;
        border-radius: 0.35rem;
        width: auto;
        height: auto;
        box-shadow: unset;
        &:hover {
            border: 1px solid $notPrimaryColor !important;

            color: $notTerciaryColor !important;
            background: $notFourtyColor !important;

        }
        &:active {

            border: 1px solid $notPrimaryColor !important;
            background-color: #fff !important;

            svg {
                color: $notTerciaryColor !important;

            }
        }
    }

    .card-header {
        text-align: right;

    }

    .card-title {

        color: $notPrimaryColor;
        font-weight: bold;
        font-size: 1.2em;
    }

    .card-subtitle {

        font-size: 0.9em;

        div {
            &:first-child {
                font-weight: bold;
                color: $notTerciaryColor;
            }
            &:last-child {
                font-style: italic;
                color: $notSecondaryColor;

            }
        }

    }

    .card-text {

        div {
            color: $notSecondaryColor;
            font-weight: normal;
            font-style: italic;
            font-size: 1em;
            text-overflow: ellipsis;

        }
    }

    .card-header {

        background-color: $notFourtyColor;
        border: 1px solid $notTerciaryColor;
        margin: 2px;
        padding: 3px;
    }
}
