.LoadingCard {

    position: absolute;
    top: 50%;
    bottom: 0;
    left: calc(50% - 50px);
    right: 0;
    width: 250px;

    .card {
        font-family: $actualfontFamily;
        border: 1px solid $notPrimaryColor;
        border-radius: 0.25rem;
        -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
        -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
        box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
        text-align: center;
        max-width: 300px;
    }

    .card-text {

        font-size: 1.6em;
        font-weight: bold;
    }

}

.NotContentPanel {
    max-width: calc(100% - 4px);
    margin-top: 42px;

}

.totaElemContainer {

    border: 1px solid $notPrimaryColor;
    border-top: 0 solid;
    background-color: $notFourtyColor;
    position: absolute;
    z-index: 10;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3), 0 2px 0 rgba(0, 21, 41, 0.1);

    Label {
        font-family: $actualfontFamily;
        font-size: 0.9em;

        color: $notPrimaryColor;
    }

    select {
        width: 90px;
        max-width: 90px;
        border: 1px solid $notPrimaryColor;
        background: #fff;
        font-weight: bold;
        font-size: 0.8em;

        option {
            padding-left: 5px;
        }
    }
}

.indiana-scroll-container {
    min-height: calc(100vh - 88px) !important;
    max-height: calc(100vh - 88px) !important;
    border-right: 1px solid $notPrimaryColor;
    border-left: 1px solid $notPrimaryColor;
}

.NotContent {

    font-family: $actualfontFamily;

    border: 1px solid $notPrimaryColor;
    border-radius: 0.25rem;

    display: flex;
    flex-flow: column;
    height: 100%;
    /*
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
*/
    button {

        background: $notTerciaryColor !important;
        color: #fff !important;
        border-radius: 0.35rem;
        width: auto;
        height: auto;
        box-shadow: unset;
        &:hover {
            border: 1px solid $notPrimaryColor !important;

            color: $notTerciaryColor !important;
            background: $notFourtyColor !important;

        }
        &:active {

            border: 1px solid $notPrimaryColor !important;
            background-color: #fff !important;

            svg {
                color: $notTerciaryColor !important;

            }
        }
    }

    .card-header {
        text-align: right;

    }

    .card-body {
        padding: 12px;

         overflow: hidden;
     margin-bottom: 15px !important;
    }

 .mh_not { max-height: 300px;}

    .card-text
    {

        table {
            width: 100% !important;
        }

        td {
            width: 100% !important;
        }

    }
    .card-title {

        color: $notPrimaryColor;
        font-weight: bold;
        font-size: 1.2em;
    }

    .card-subtitle {

        font-size: 0.9em;

        label {
            &:first-child {
                font-weight: bold;
                color: $notPrimaryColor;
            }
            &:last-child {
                font-style: italic;
                color: $notSecondaryColor;

            }
        }

    }

    .card-text {

        div {
            color: $notSecondaryColor;
            font-weight: normal;
            font-style: italic;
            font-size: 1em;
            text-overflow: ellipsis;

        }

        .contHtml {
            max-height: 250px;
            overflow: hidden;
            margin-bottom: 25px !important;
        }
    }

    .card-header {

        background-color: $notFourtyColor;
        border: 1px solid $notTerciaryColor;
        margin: 2px;
        padding: 3px;
        border-radius: 0.35rem;
    }

    hr {
        border-color: $notPrimaryColor;
    }
}

.NotFooter {
    border: 1px solid $notPrimaryColor !important;
    background-color: $notFourtyColor;
    flex-direction: column;
    display: FLEX;
    position: absolute;
    z-index: 10;
    box-shadow: 0 -1px 1px 1px rgba(0, 0, 0, 0.3), 0 -1px 1px 1px rgba(0, 21, 41, 0.1);

    .pagination {
        margin-left: auto;
        margin-right: auto;
        height: 15px;
        margin-top: 5px;

        li > a {
            background: #091220;
            color: #fff;
            border-radius: 0.35rem;
            width: 28px;
            display: block;
            height: 28px;
            box-shadow: unset !important;
            text-align: center;
            font-size: 1rem;
            font-weight: bold;
            line-height: 28px;

        }

        .active a {

            background: #fff !important;
            color: $notPrimaryColor !important;
            border: 1px solid $notPrimaryColor !important;
            text-decoration: none;

        }

    }

}

.NotContentFull {
   
    box-shadow: unset;
    height: calc(100vh - 62px);
    border: 1px solid $notPrimaryColor;

    .card-body {
        table {
            width: 100% !important;
            max-height: unset !important;
        }
    }

    .card-title {

        font-size: 1.7em;
        margin-bottom: 25px !important;
        font-weight:bold;
    }
}


.NotFullModal {
    max-width: 950px;
    width: calc(100% - 10px);
    margin: 5px auto;
    height: calc(100vh - 15px);

    .modal-header {
        border: 1px solid $notPrimaryColor;
        background: $notFourtyColor;
        border-radius: 0.25rem;
        height: 50px;

        .modal-title {
            width: 100%;
        }

        button
        {
            background: $notTerciaryColor !important;
        }
    }

    .modal-content {
        height: calc(100vh - 15px);

        -webkit-box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.4);
        box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.4);

        .indiana-scroll-container {
            max-height: calc(100vh - 80px) !important;
            min-height: calc(100vh - 80px) !important;
            border: 0 solid;

            scrollbar-width: thin;


           

        }


     

    }


    

}

.EditNotPage
{

    .indiana-scroll-container {
        max-height: calc(100vh - 62px) !important;
        min-height: calc(100vh - 62px) !important;
        border: 0 solid;

        scrollbar-width: thin;


       

    }

}