
$notPrimaryColor: #091220;
$notSecondaryColor: #222;
$notTerciaryColor: #162c50;
$notFourtyColor: #ced2da;
$actualfontFamily: "Trebuchet MS",sans-serif,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif